$text-xl: 89px !default;
$text-l: 92px !default;
$text-m: 72px !default;
$text-sm: 48px !default;
$text-xs: 36px !default;
$m-text-m: $text-m - 12;
$body-text: 20px !default;
$tag-text: 24px !default;
$footer-text: 14px !default;
$header-text: 16px !default;
$host-text: 18px !default;
$primary-color: #332469 !default;
$gray-base: #000 !default;
$gray-darker: #222629 !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: #777 !default;
$gray-light: #a8a8a9 !default;
$gray-lighter: #eee !default;
$white: #fff !default;
$section-title: #261756 !default;
$footer-color: #262626 !default;
