@font-face {
  font-family: 'poppins-semi-bold';
  src: url("../fonts/Poppins-SemiBold.ttf"), url("../fonts/Poppins-SemiBold.woff"), url("../fonts/Poppins-SemiBold.woff2");
}
@font-face {
  font-family: 'poppins-medium';
  src: url("../fonts/Poppins-Medium.ttf"), url("../fonts/Poppins-Medium.woff"), url("../fonts/Poppins-Medium.woff2");
}
@font-face {
  font-family: 'poppins-bold';
  src: url("../fonts/Poppins-Bold.ttf"), url("../fonts/Poppins-Bold.woff"), url("../fonts/Poppins-Bold.woff2");
}
@font-face {
  font-family: 'poppins-regular';
  src: url("../fonts/Poppins-Regular.ttf"), url("../fonts/Poppins-Regular.woff"), url("../fonts/Poppins-Regular.woff2");
}
@font-face {
  font-family: 'Nunito-bold';
  src: url("../fonts/NunitoSans-Bold.ttf"), url("../fonts/NunitoSans-Bold.woff"), url("../fonts/NunitoSans-Bold.woff2");
}
@font-face {
  font-family: 'Nunito-Extrabold';
  src: url("../fonts/NunitoSans-ExtraBold.ttf"), url("../fonts/NunitoSans-ExtraBold.woff"), url("../fonts/NunitoSans-ExtraBold.woff2");
}
@font-face {
  font-family: 'Nunito-Semibold';
  src: url("../fonts/NunitoSans-SemiBold.ttf"), url("../fonts/NunitoSans-SemiBold.woff"), url("../fonts/NunitoSans-SemiBold.woff2");
}
@font-face {
  font-family: 'pt-sansbold';
  src: url("../fonts/pt-sansbold.ttf"), url("../fonts/pt-sansbold.woff"), url("../fonts/pt-sansbold.woff2");
}
@font-face {
  font-family: 'pt-sansregular';
  src: url("../fonts/pt-sansregular.ttf"), url("../fonts/pt-sansregular.woff"), url("../fonts/pt-sansregular.woff2");
}
@font-face {
  font-family: 'pt-serifbold';
  src: url("../fonts/PTF75F.ttf"), url("../fonts/PTF75F.woff"), url("../fonts/PTF75F.woff2");
}
/* line 43, ../sass/partials/_styleguide.scss */
body,
html {
  height: 100%;
}

/* line 48, ../sass/partials/_styleguide.scss */
h1 {
  font-size: 89px;
  font-family: 'Nunito-Extrabold';
}

/* line 53, ../sass/partials/_styleguide.scss */
h2 {
  font-size: 92px;
  font-family: 'pt-sansbold';
}

/* line 58, ../sass/partials/_styleguide.scss */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* line 64, ../sass/partials/_styleguide.scss */
.pos-r {
  position: relative;
}

/* line 68, ../sass/partials/_styleguide.scss */
.no-padding {
  padding: 0;
}

/* line 3, ../sass/style.scss */
body,
html {
  height: 100%;
}

/* line 8, ../sass/style.scss */
body {
  overflow-x: hidden !important;
}

/* line 12, ../sass/style.scss */
.md-screen {
  max-width: 1170px;
  margin: auto;
}

/* line 17, ../sass/style.scss */
span {
  font-family: 'pt-sansbold';
}

/* line 21, ../sass/style.scss */
strong {
  font-weight: 700;
}

/* line 25, ../sass/style.scss */
audio {
  margin-top: 30px;
  width: 100%;
  max-width: 250px;
}

/* line 31, ../sass/style.scss */
#dialog {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  display: none;
}

/* line 50, ../sass/style.scss */
.btn-cust:active,
.btn-cust:focus {
  outline: none !important;
}

/* line 55, ../sass/style.scss */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* line 64, ../sass/style.scss */
.icon-triangle {
  width: 0.5830078125em;
  color: #fff !important;
  vertical-align: middle;
}

/* line 73, ../sass/style.scss */
button:focus .icon-triangle, button:hover .icon-triangle {
  color: #332469 !important;
}

/* line 79, ../sass/style.scss */
.nav > li > a:focus,
.nav > li > a:hover {
  background: transparent;
}

/* line 84, ../sass/style.scss */
.navbar-brand {
  height: 50px !important;
}

/* line 88, ../sass/style.scss */
.create-world {
  background: url("../img/brooke-cagle-banner.jpg") center top/cover fixed no-repeat;
  min-height: 600px;
  height: 100%;
}
/* line 93, ../sass/style.scss */
.create-world .intro-heading {
  position: relative;
  color: #fff;
  text-align: center;
}
/* line 99, ../sass/style.scss */
.create-world .intro-heading .link {
  font-size: 16px;
  font-family: 'pt-sansregular';
}
/* line 104, ../sass/style.scss */
.create-world .intro-heading h1 {
  margin-bottom: 12px;
}
/* line 108, ../sass/style.scss */
.create-world .intro-heading a {
  color: #fff;
  margin-top: 10px;
  display: block;
}
/* line 115, ../sass/style.scss */
.create-world .custom-carousel {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}
/* line 121, ../sass/style.scss */
.create-world .carousel-indicators {
  margin-bottom: -70px;
}

/* line 126, ../sass/style.scss */
#myNavbar.secondary-mynavbar li a:hover {
  background-color: #fff;
  color: #332469;
  text-decoration: underline;
}

/* line 135, ../sass/style.scss */
#myNavbar li.current-menu-item a {
  text-decoration: underline;
}
/* line 140, ../sass/style.scss */
#myNavbar li a {
  color: #fff;
  font-size: 16px;
  font-family: 'pt-sansregular';
}
/* line 145, ../sass/style.scss */
#myNavbar li a.active {
  text-decoration: underline;
}
/* line 149, ../sass/style.scss */
#myNavbar li a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 156, ../sass/style.scss */
#myNavbar .secondary-menu {
  color: #332469;
}

/* line 161, ../sass/style.scss */
.navbar-toggle {
  padding: 28px 10px !important;
}
/* line 164, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 600px) {
  /* line 169, ../sass/style.scss */
  .background-display {
    display: block;
  }

  /* line 173, ../sass/style.scss */
  .image-tag {
    display: none;
  }
}
@media (max-width: 600px) {
  /* line 178, ../sass/style.scss */
  .background-display {
    display: none;
  }

  /* line 182, ../sass/style.scss */
  .image-tag {
    display: block;
  }
}
@media (min-width: 768px) {
  /* line 187, ../sass/style.scss */
  .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* line 193, ../sass/style.scss */
  .navbar-nav.secondary-menu {
    position: relative;
    left: 50%;
    transform: translateX(-81%);
  }

  /* line 199, ../sass/style.scss */
  .navbar-brand.logo-left {
    position: static;
    transform: none;
  }

  /* line 204, ../sass/style.scss */
  .header-icons,
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 210, ../sass/style.scss */
  .header-icons {
    padding: 55px 0;
  }

  /* line 214, ../sass/style.scss */
  .navbar-nav > li {
    padding: 50px 20px;
  }

  /* line 218, ../sass/style.scss */
  .header-icons li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  /* line 224, ../sass/style.scss */
  .navbar-right {
    margin-right: 0;
  }

  /* line 229, ../sass/style.scss */
  .intro-section .md-screen {
    display: flex;
  }
  /* line 236, ../sass/style.scss */
  .intro-section .full-image.profile img {
    height: auto;
    width: 760px;
  }
  /* line 244, ../sass/style.scss */
  .intro-section .full-image.get-started img {
    margin-left: -140px;
  }
}
/* line 253, ../sass/style.scss */
.intro-section a:focus,
.intro-section a:hover {
  color: #fff;
}

/* line 259, ../sass/style.scss */
.primary-info {
  width: 100%;
  max-width: 585px;
  background: #332469;
  padding: 12px 35px 35px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 268, ../sass/style.scss */
.primary-info .title {
  color: #261756;
  text-align: right;
  margin-bottom: 10px;
}
/* line 274, ../sass/style.scss */
.primary-info h1,
.primary-info h2,
.primary-info p,
.primary-info span {
  color: #fff;
}
/* line 281, ../sass/style.scss */
.primary-info h1 {
  font-family: 'pt-serifbold';
}
/* line 285, ../sass/style.scss */
.primary-info p {
  font-size: 20px;
  font-family: 'pt-sansregular';
  line-height: 32px;
  margin-bottom: 17px;
}
/* line 292, ../sass/style.scss */
.primary-info span {
  font-size: 16px;
  font-family: 'pt-sansbold';
}
/* line 297, ../sass/style.scss */
.primary-info .play-details {
  margin: 20px 0;
  position: relative;
}
/* line 302, ../sass/style.scss */
.primary-info img {
  position: relative;
  top: 6px;
  left: -3px;
}
/* line 308, ../sass/style.scss */
.primary-info .play-details img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 315, ../sass/style.scss */
.section-title {
  position: absolute;
  top: -20px;
  color: #261756 !important;
}
/* line 320, ../sass/style.scss */
.section-title.section-right {
  right: 0;
}
/* line 324, ../sass/style.scss */
.section-title.section-left {
  left: 0;
}

/* line 329, ../sass/style.scss */
.btn-cust {
  min-width: 169px;
  height: 50px;
  line-height: 35px;
  border: 2px solid #fff;
  background-color: #332469;
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'pt-sansbold';
}
/* line 343, ../sass/style.scss */
.btn-cust.btn-default:focus span, .btn-cust.btn-default:hover span {
  color: #332469;
}
/* line 348, ../sass/style.scss */
.btn-cust.btn-default span {
  vertical-align: middle;
  color: #fff;
}
/* line 354, ../sass/style.scss */
.btn-cust:active, .btn-cust:focus, .btn-cust:hover {
  border: 2px solid #fff;
  background-color: #fff !important;
  color: #332469 !important;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'pt-sansbold';
}

/* line 366, ../sass/style.scss */
.btn-invert {
  min-width: 169px;
  height: 50px;
  line-height: 35px;
  border: 2px solid #fff;
  background-color: #fff;
  color: #332469;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'pt-sansbold';
}
/* line 377, ../sass/style.scss */
.btn-invert:hover {
  background-color: #332469;
  color: #fff;
  border: 2px solid #fff;
}

/* line 384, ../sass/style.scss */
.btn.podcast-btn {
  min-width: 210px;
  height: 60px;
}
/* line 388, ../sass/style.scss */
.btn.podcast-btn:focus, .btn.podcast-btn:hover {
  border: 2px solid #332469;
}

/* line 394, ../sass/style.scss */
.android-icons {
  opacity: 0;
}

/* line 398, ../sass/style.scss */
.podcast-sub {
  display: inline-block;
  position: relative;
}

/* line 403, ../sass/style.scss */
.podcast-sub:hover .podcast-btn {
  opacity: 0;
}

/* line 407, ../sass/style.scss */
.podcast-sub:hover .android-icons {
  opacity: 1;
}

/* line 411, ../sass/style.scss */
.icons-container {
  position: absolute;
  top: -20px;
  left: 85px;
}

/* line 417, ../sass/style.scss */
.icons-container a {
  margin-right: 12px;
}

/* line 421, ../sass/style.scss */
.contact-us {
  padding: 65px 0;
  background-color: #332469;
}
/* line 425, ../sass/style.scss */
.contact-us .text {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-family: 'pt-sansbold';
}
/* line 432, ../sass/style.scss */
.contact-us.margin-contact {
  margin-top: 30px;
}

/* line 437, ../sass/style.scss */
.play-content {
  padding-left: 70px;
}

/* line 441, ../sass/style.scss */
.date,
.show a {
  color: #fff;
}

/* line 446, ../sass/style.scss */
.date {
  font-size: 16px;
  font-family: 'pt-sansregular';
  margin-bottom: 10px;
}

/* line 452, ../sass/style.scss */
.show {
  font-family: 'pt-sansbold';
  font-size: 24px;
}

/* line 458, ../sass/style.scss */
.communication {
  text-align: center;
  margin-top: 20px;
}
/* line 462, ../sass/style.scss */
.communication .triangle {
  vertical-align: middle;
}
/* line 466, ../sass/style.scss */
.communication h5 {
  font-family: 'pt-sansbold';
  font-size: 36px;
  color: #332469;
  background-color: #fff;
}
/* line 473, ../sass/style.scss */
.communication .border {
  border-top: 3px solid #ccc;
  margin: 30px auto 38px;
  width: 130px;
}
/* line 478, ../sass/style.scss */
.communication .border.border-contact {
  margin: 30px auto 98px;
}
/* line 483, ../sass/style.scss */
.communication p,
.communication span {
  color: #262626;
}
/* line 488, ../sass/style.scss */
.communication span {
  font-size: 16px;
}
/* line 492, ../sass/style.scss */
.communication p,
.communication pre {
  font-size: 20px;
  line-height: 39px;
}
/* line 498, ../sass/style.scss */
.communication pre {
  background: transparent;
  font-family: 'pt-sansbold';
  overflow: unset;
}
/* line 504, ../sass/style.scss */
.communication p {
  margin: 24px 10px 120px;
  font-family: 'pt-sansregular';
}

/* line 510, ../sass/style.scss */
.social-icons {
  margin: 14px 0 250px;
}
/* line 513, ../sass/style.scss */
.social-icons.story-social {
  margin: 18px 0 60px;
}
/* line 517, ../sass/style.scss */
.social-icons img {
  margin-right: 20px;
}

/* line 523, ../sass/style.scss */
.communication.podcast p {
  padding: 0 15px;
  margin: 0 !important;
}

/* line 528, ../sass/style.scss */
.communication.podcast h5 {
  padding: 0 15px;
}

/* line 532, ../sass/style.scss */
.pod-inner-title {
  color: #333 !important;
}

/* line 536, ../sass/style.scss */
.podcast-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 544, ../sass/style.scss */
.podcast-border .verticle-border {
  display: inline-block;
  border-right: 2px solid #ccc;
  height: 130px;
  margin: 20px 0;
}

/* line 551, ../sass/style.scss */
.by-jenni {
  color: #332469 !important;
  font-size: 16px !important;
  font-family: 'pt-sansbold' !important;
  margin: 0 !important;
  padding-bottom: 66px !important;
}
/* line 558, ../sass/style.scss */
.by-jenni.by-sub {
  padding-bottom: 0 !important;
  text-decoration: underline;
}

/* line 564, ../sass/style.scss */
.by-date {
  padding-bottom: 15px;
  color: #333 !important;
  font-size: 16px !important;
  font-family: 'pt-sansbold' !important;
  margin: 0 !important;
}

/* line 572, ../sass/style.scss */
.podcast-expln {
  font-size: 16px !important;
  font-family: 'pt-sansbold' !important;
  color: #262626;
  margin: 0 !important;
  text-transform: uppercase;
}

/* line 580, ../sass/style.scss */
.podcast-summary {
  color: #262626;
  font-size: 20px;
  font-family: 'pt-sansregular';
  margin: 0 !important;
  padding: 0 15px;
}

/* line 588, ../sass/style.scss */
.cont {
  display: block;
  max-width: 1170px;
  margin: auto;
}
/* line 593, ../sass/style.scss */
.cont .img-cont {
  margin-bottom: 30px;
  position: relative;
}
/* line 598, ../sass/style.scss */
.cont .img-cont .prodcast-img {
  width: 100%;
}
/* line 602, ../sass/style.scss */
.cont .img-cont .over-lay:hover .overlay {
  opacity: 1;
}
/* line 606, ../sass/style.scss */
.cont .img-cont .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #332469;
}
/* line 618, ../sass/style.scss */
.cont .img-cont .overlay .hover-text {
  color: #fff;
  position: absolute;
  bottom: 64px;
  padding: 15px;
  text-align: left;
}
/* line 625, ../sass/style.scss */
.cont .img-cont .overlay .hover-text .btn,
.cont .img-cont .overlay .hover-text button {
  padding: 0 !important;
}
/* line 630, ../sass/style.scss */
.cont .img-cont .overlay .hover-text .hover-btn {
  vertical-align: middle;
  margin-top: 10px;
  border: none;
  background: #332469;
}
/* line 636, ../sass/style.scss */
.cont .img-cont .overlay .hover-text .hover-btn a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 642, ../sass/style.scss */
.cont .img-cont .overlay .hover-text span {
  color: #fff !important;
  vertical-align: middle;
  margin-right: 3px;
}
/* line 649, ../sass/style.scss */
.cont .img-cont .overlay .hover-title {
  margin-bottom: 12px;
}
/* line 653, ../sass/style.scss */
.cont .img-cont .overlay .hover-title a {
  margin-bottom: 12px;
  color: #fff;
  font-size: 24px;
  font-family: 'pt-sansbold';
}
/* line 660, ../sass/style.scss */
.cont .img-cont .overlay .hover-content,
.cont .img-cont .overlay .hover-content p {
  line-height: 20px;
  color: #fff;
  font-family: 'pt-sansregular';
  font-size: 14px;
  margin: 0;
}
/* line 670, ../sass/style.scss */
.cont .img-cont .caption {
  position: absolute;
  bottom: 64px;
  padding: 15px;
  text-align: left;
}
/* line 676, ../sass/style.scss */
.cont .img-cont .caption .content,
.cont .img-cont .caption .date {
  color: #fff;
  font-family: 'pt-sansbold';
  margin-top: 10px;
}
/* line 683, ../sass/style.scss */
.cont .img-cont .caption .date {
  font-size: 14px;
}
/* line 687, ../sass/style.scss */
.cont .img-cont .caption .content {
  font-size: 24px;
}

/* line 694, ../sass/style.scss */
.our-host {
  background: #eee;
  text-align: center;
  margin-top: 55px !important;
}
/* line 699, ../sass/style.scss */
.our-host .title {
  color: #262626;
  font-size: 16px;
  font-family: 'pt-sansbold';
  padding: 30px 0;
}
/* line 706, ../sass/style.scss */
.our-host .jenni-intro {
  margin-bottom: 80px;
  padding-bottom: 35px;
}
/* line 710, ../sass/style.scss */
.our-host .jenni-intro img {
  vertical-align: middle;
}
/* line 714, ../sass/style.scss */
.our-host .jenni-intro .host-name {
  font-size: 24px;
  font-family: 'pt-sansbold';
  color: #332469;
  padding-left: 5px;
  display: inline-block;
  margin-top: 15px;
}
/* line 723, ../sass/style.scss */
.our-host .jenni-intro p {
  color: #262626;
  font-family: 'pt-sansregular';
  font-size: 18px;
  margin: 18px auto auto;
  max-width: 550px;
  line-height: 25px;
}
/* line 733, ../sass/style.scss */
.our-host .border.border-cast {
  margin: 38px 0 30px !important;
}

/* line 739, ../sass/style.scss */
.stories .story-quote img {
  display: block !important;
}

/* line 744, ../sass/style.scss */
.stories img {
  width: 100%;
}
/* line 748, ../sass/style.scss */
.stories .story {
  margin-bottom: 30px;
  position: relative;
}
/* line 754, ../sass/style.scss */
.stories .primary-bg ~ .story-caps.caps-bg {
  position: absolute;
  left: 30px;
  right: 30px;
}
/* line 761, ../sass/style.scss */
.stories .story-caps {
  position: absolute;
  bottom: 18px;
  left: 30px;
  right: 30px;
}
/* line 767, ../sass/style.scss */
.stories .story-caps .caps-cont a,
.stories .story-caps .caps-tag {
  color: #fff;
  font-family: 'pt-sansbold';
}
/* line 773, ../sass/style.scss */
.stories .story-caps .caps-cont {
  font-size: 36px;
}
/* line 777, ../sass/style.scss */
.stories .story-caps .caps-tag {
  font-size: 24px;
  margin-top: 10px;
}

/* line 785, ../sass/style.scss */
.pos-r:hover .story-caps {
  bottom: 80px !important;
}

/* line 789, ../sass/style.scss */
.primary-hide {
  display: none;
}

/* line 792, ../sass/style.scss */
.primary-bg {
  background-color: #332469;
  position: absolute;
  width: 100%;
  max-width: 750px;
  bottom: 0;
}
/* line 799, ../sass/style.scss */
.primary-bg span {
  color: #fff;
  font-size: 16px;
  font-family: 'pt-sansbold';
}
/* line 805, ../sass/style.scss */
.primary-bg .visible {
  margin: 25px 5px 25px 25px;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 600px) {
  /* line 814, ../sass/style.scss */
  .primary-bg .visible {
    margin: 10px !important;
  }

  /* line 817, ../sass/style.scss */
  .action.textModal {
    margin: 10px !important;
  }
}
@media (max-width: 599px) {
  /* line 823, ../sass/style.scss */
  .stories .story {
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 600px) {
  /* line 831, ../sass/style.scss */
  .stories img {
    display: none;
  }

  /* line 836, ../sass/style.scss */
  .story-1 {
    background: url("../img/story-1.png") center bottom/cover no-repeat;
    height: 526px;
  }

  /* line 841, ../sass/style.scss */
  .story-2 {
    background: url("../img/story-2.png") center bottom/cover no-repeat;
    height: 526px;
  }

  /* line 846, ../sass/style.scss */
  .story-3 {
    background: url("../img/story-3.png") center bottom/cover no-repeat;
    height: 526px;
  }

  /* line 851, ../sass/style.scss */
  .story-4 {
    background: url("../img/story-4.png") center bottom/cover no-repeat;
    height: 526px;
  }

  /* line 856, ../sass/style.scss */
  .story-5 {
    background: url("../img/story-1.png") center bottom/cover no-repeat;
    height: 526px;
  }

  /* line 861, ../sass/style.scss */
  .story-6 {
    background: url("../img/story-5.png") center bottom/cover no-repeat;
    height: 526px;
  }
}
/* line 867, ../sass/style.scss */
.story-indicator {
  margin-bottom: -35px;
}

/* line 871, ../sass/style.scss */
.story-slide {
  background: #332469;
  border: 2px solid #332469 !important;
}

@media (max-width: 767px) {
  /* line 876, ../sass/style.scss */
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* line 880, ../sass/style.scss */
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  /* line 885, ../sass/style.scss */
  .navbar-brand img {
    width: 75px;
  }

  /* line 889, ../sass/style.scss */
  .full-image img {
    width: 100%;
    height: auto;
  }

  /* line 894, ../sass/style.scss */
  .primary-info {
    width: 100%;
    max-width: none;
    position: static;
  }
  /* line 899, ../sass/style.scss */
  .primary-info .section-title {
    position: absolute;
    top: -40px;
    left: 30px;
    color: #fff !important;
  }

  /* line 907, ../sass/style.scss */
  .contact-us {
    padding: 78px 15px;
  }
  /* line 910, ../sass/style.scss */
  .contact-us .btn-cust {
    float: none !important;
    margin: 12px 0;
  }
  /* line 915, ../sass/style.scss */
  .contact-us .text {
    float: none !important;
  }

  /* line 920, ../sass/style.scss */
  .header-icons {
    float: none !important;
    margin-bottom: 20px;
  }
  /* line 924, ../sass/style.scss */
  .header-icons li {
    display: inline-block;
    margin-right: 13px;
  }

  /* line 930, ../sass/style.scss */
  .navbar {
    box-shadow: 0 0 10px #ccc;
    background: #fff;
  }

  /* line 935, ../sass/style.scss */
  .icon-bar.secondary-bar {
    background: #332469;
  }
}
/* line 940, ../sass/style.scss */
.navbar-nav {
  color: #332469;
}

/* line 945, ../sass/style.scss */
.footer {
  padding: 30px 0 75px;
}
/* line 948, ../sass/style.scss */
.footer .footer-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* line 954, ../sass/style.scss */
.footer .left-content,
.footer .right-content {
  margin-top: 39px;
}
/* line 958, ../sass/style.scss */
.footer .left-content li,
.footer .right-content li {
  font-size: 14px;
  color: #262626;
  font-family: 'pt-sansregular';
  display: inline-block;
}
/* line 964, ../sass/style.scss */
.footer .left-content li a,
.footer .right-content li a {
  color: #332469;
}
/* line 970, ../sass/style.scss */
.footer .ftr-right {
  margin-top: 46px;
  vertical-align: middle;
}
/* line 976, ../sass/style.scss */
.footer .left-content li {
  margin: 0 20px;
  padding-top: 16px;
}
/* line 983, ../sass/style.scss */
.footer .right-content li {
  vertical-align: middle;
  margin-right: 15px;
  padding-top: 10px;
}
/* line 989, ../sass/style.scss */
.footer .right-content li:first-child {
  margin-left: 40px;
}

@media (max-width: 1170px) {
  /* line 996, ../sass/style.scss */
  .section-title.section-right {
    right: 15px;
  }
  /* line 1000, ../sass/style.scss */
  .section-title.section-left {
    left: 15px;
  }
}
@media (min-width: 767px) {
  /* line 1006, ../sass/style.scss */
  .contact-us .content {
    padding: 0 65px;
  }
}
@media (max-width: 779px) {
  /* line 1011, ../sass/style.scss */
  .cont .img-cont {
    margin: 0;
    width: 100%;
    padding-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  /* line 1018, ../sass/style.scss */
  .footer-resp {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 120px;
    width: 100%;
  }

  /* line 1026, ../sass/style.scss */
  .left-content,
  .right-content {
    width: 100%;
    text-align: center;
  }

  /* line 1032, ../sass/style.scss */
  .left-content {
    margin-top: 25px !important;
  }

  /* line 1036, ../sass/style.scss */
  .right-content {
    margin-top: 8px !important;
  }

  /* line 1040, ../sass/style.scss */
  .footer .right-content li:first-child {
    display: none;
  }
}
@media (min-width: 478px) and (max-width: 945px) {
  /* line 1045, ../sass/style.scss */
  .intro-heading h1 {
    font-size: 72px;
  }
}
@media (max-width: 478px) {
  /* line 1050, ../sass/style.scss */
  .intro-heading h1 {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  /* line 1055, ../sass/style.scss */
  a.navbar-brand img {
    width: 117px;
    height: auto;
  }
}
@media (max-width: 445px) {
  /* line 1061, ../sass/style.scss */
  h2 {
    font-size: 60px;
  }
}
@media (max-width: 330px) {
  /* line 1066, ../sass/style.scss */
  h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  /* line 1071, ../sass/style.scss */
  .mobile-screen {
    display: block;
  }

  /* line 1075, ../sass/style.scss */
  .desktop-screen {
    display: none !important;
  }

  /* line 1079, ../sass/style.scss */
  .navbar-toggle .icon-bar {
    background: #332469;
  }

  /* line 1083, ../sass/style.scss */
  #myNavbar li a {
    color: #332469 !important;
  }
}
@media (min-width: 767px) {
  /* line 1088, ../sass/style.scss */
  .mobile-screen {
    display: none !important;
  }

  /* line 1092, ../sass/style.scss */
  .desktop-screen {
    display: block !important;
  }
}
@media (max-width: 420px) {
  /* line 1097, ../sass/style.scss */
  .stories .story-caps .caps-tag {
    font-size: 16px;
  }

  /* line 1101, ../sass/style.scss */
  .stories .story-caps .caps-cont {
    font-size: 24px;
  }
}
@media (max-width: 345px) {
  /* line 1106, ../sass/style.scss */
  .cont .img-cont .caption,
  .cont .img-cont .overlay .hover-text {
    position: absolute;
    bottom: 30px;
  }
}
@media (max-width: 850px) {
  /* line 1113, ../sass/style.scss */
  .cont .img-cont .caption,
  .cont .img-cont .overlay .hover-text {
    position: absolute;
    bottom: 20px;
  }
}
/* line 1122, ../sass/style.scss */
.overlay:hover .btn.btn-default.hover-btn {
  border: 2px solid #fff !important;
  padding: 5px 10px !important;
  min-width: 130px;
  height: 50px;
  line-height: 35px;
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'pt-sansbold';
}

/* line 1136, ../sass/style.scss */
.container-fluid h3 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'pt-sansbold';
}
/* line 1141, ../sass/style.scss */
.container-fluid h4 {
  font-size: 24px;
  line-height: 30px;
  font-family: 'pt-sansbold';
}
/* line 1146, ../sass/style.scss */
.container-fluid p {
  font-size: 16px;
  line-height: 30px;
  font-family: 'pt-sansregular';
  cursor: pointer;
}
/* line 1153, ../sass/style.scss */
.container-fluid .col-md-3.modal-image {
  padding: 20px;
}
/* line 1162, ../sass/style.scss */
.container-fluid button:hover, .container-fluid active {
  padding: 0 !important;
  width: auto !important;
  background-color: #332469 !important;
  color: white !important;
}

/* line 1169, ../sass/style.scss */
.action.textModal {
  cursor: pointer;
  margin: 30px 5px 30px 25px;
}

/* line 1173, ../sass/style.scss */
.caps-cont a:hover {
  text-decoration: none;
}

/* line 1177, ../sass/style.scss */
.col-md-12.story-action.story-video {
  padding: 0 !important;
  margin-top: -28px;
  margin-bottom: -10px;
  margin-right: -30px;
}

/* line 1184, ../sass/style.scss */
#dialog {
  display: block;
  width: 100%;
}
/* line 1188, ../sass/style.scss */
#dialog p {
  cursor: pointer;
}
/* line 1192, ../sass/style.scss */
#dialog .title-name {
  transform: translateY(241%);
}

/* line 1197, ../sass/style.scss */
#dialog {
  z-index: 1;
  position: fixed;
  bottom: 0;
}

/* line 1202, ../sass/style.scss */
.audio.green-audio-player {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
  height: 100px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #222222;
}

/* line 1219, ../sass/style.scss */
.audio.green-audio-player .play-pause-btn {
  display: none;
  cursor: pointer;
  color: #ffffff;
}

/* line 1224, ../sass/style.scss */
.audio.green-audio-player .spinner {
  width: 18px;
  height: 18px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin 0.4s linear infinite;
}

/* line 1232, ../sass/style.scss */
.audio.green-audio-player .slider {
  flex-grow: 1;
  background-color: #D8D8D8;
  cursor: pointer;
  position: relative;
}

/* line 1238, ../sass/style.scss */
.audio.green-audio-player .slider .progress {
  background-color: #44BFA3;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}

/* line 1246, ../sass/style.scss */
.volume-controls {
  bottom: -38px !important;
  left: 50px !important;
}

/* line 1250, ../sass/style.scss */
.audio.green-audio-player .slider .progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #44BFA3;
  position: absolute;
  pointer-events: all;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

/* line 1259, ../sass/style.scss */
.audio.green-audio-player .controls {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fffff;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

/* line 1271, ../sass/style.scss */
.audio.green-audio-player .controls .slider {
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 2px;
  height: 4px;
}

/* line 1277, ../sass/style.scss */
.audio.green-audio-player .controls .slider .progress {
  width: 0;
  height: 100%;
}

/* line 1281, ../sass/style.scss */
.audio.green-audio-player .controls .slider .progress .pin {
  right: -8px;
  top: -6px;
}

/* line 1285, ../sass/style.scss */
.audio.green-audio-player .controls span {
  cursor: default;
}

/* line 1288, ../sass/style.scss */
.audio.green-audio-player .volume {
  position: relative;
}

/* line 1291, ../sass/style.scss */
.audio.green-audio-player .volume .volume-btn {
  cursor: pointer;
}

/* line 1294, ../sass/style.scss */
.audio.green-audio-player .volume .volume-btn.open path {
  fill: #44BFA3;
}

/* line 1297, ../sass/style.scss */
.audio.green-audio-player .volume .volume-controls {
  width: 30px;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

/* line 1309, ../sass/style.scss */
.audio.green-audio-player .volume .volume-controls.hidden {
  display: none;
}

/* line 1312, ../sass/style.scss */
.audio.green-audio-player .volume .volume-controls .slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}

/* line 1318, ../sass/style.scss */
.audio.green-audio-player .volume .volume-controls .slider .progress {
  bottom: 0;
  height: 100%;
  width: 6px;
  margin: 0;
  overflow: initial;
}

/* line 1325, ../sass/style.scss */
.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
  left: -5px;
  top: -8px;
}

/* line 1329, ../sass/style.scss */
.audio.green-audio-player .controls span {
  cursor: default;
  color: white;
}

/* line 1334, ../sass/style.scss */
.title-name {
  display: block;
  color: #ffffff !important;
  top: 12px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

/* line 1346, ../sass/style.scss */
.md-screen.content.clearfix .pull-left.text {
  margin-top: 10px;
}

/* line 1352, ../sass/style.scss */
.modal-dialog.modal-lg {
  margin-top: 100px;
}

/* line 1356, ../sass/style.scss */
.modal-content.pos-r .container-fluid {
  padding: 0;
  margin: 0;
}

/* line 1363, ../sass/style.scss */
.close img {
  transform: translateY(-300%);
  opacity: 1;
  width: 18px;
}

/* line 1370, ../sass/style.scss */
#dialog {
  display: none;
}

/* line 1373, ../sass/style.scss */
.icons-container {
  display: inline-flex;
}

/* line 1378, ../sass/style.scss */
.btn.btn-default.hover-btn img {
  display: inherit !important;
}

/* line 1382, ../sass/style.scss */
.col-md-8.col-sm-8.col-xs-6.story {
  width: 55.666667% !important;
}

/* line 1385, ../sass/style.scss */
.col-md-4.col-sm-4.col-xs-6.story {
  width: 43.333333% !important;
}

/* line 1389, ../sass/style.scss */
.hover-bottom {
  bottom: 80px !important;
}

/* line 1393, ../sass/style.scss */
.col-md-6.col-sm-6.pos-r.no-padding .primary-info img {
  display: inherit;
}

@media (max-width: 900px) {
  /* line 1398, ../sass/style.scss */
  .primary-info h2 {
    font-size: 72px;
  }
}
/* line 1402, ../sass/style.scss */
.player-social {
  position: relative;
  right: -175px;
}

/* line 1409, ../sass/style.scss */
.player-social1 li {
  display: block;
  margin-bottom: 15px;
}

/* line 1415, ../sass/style.scss */
.col-md-6.col-sm-6.clearfix.full-image.no-padding img {
  position: relative;
}

/* line 1419, ../sass/style.scss */
.no-padding .hover-text {
  position: absolute;
  bottom: 75px;
  left: 30px;
}

/* line 1427, ../sass/style.scss */
.hover-text .play-icon {
  display: inline-block;
}
/* line 1430, ../sass/style.scss */
.hover-text .play-content {
  padding-left: 12px;
  display: inline-block;
}

/* line 1435, ../sass/style.scss */
.play-details h5 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: underline;
}

/* line 1443, ../sass/style.scss */
#dialog p img {
  opacity: 1;
  height: 20px;
  transform: translate(325px, 265%);
  float: none;
}

/* line 1451, ../sass/style.scss */
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/giphy.gif") center no-repeat #FFF;
}

/* line 1462, ../sass/style.scss */
.btn-read-more.by-jenni {
  padding-bottom: 0 !important;
}

/* line 1465, ../sass/style.scss */
.read-more-hide.by-jenni {
  padding-bottom: 0 !important;
}

/* line 1468, ../sass/style.scss */
.close {
  opacity: 1 !important;
}

/* line 1472, ../sass/style.scss */
#textModal .close img {
  transform: translate(-122%, -182%);
}

/* line 1476, ../sass/style.scss */
#button {
  width: 60px;
  height: 25px;
  float: left;
  position: relative;
  line-height: 22px;
  background: url(yoursite.com/background_image.png) no-repeat top center;
}

/* line 1484, ../sass/style.scss */
.tweet {
  font-family: "Lucida Grande","Lucida Sans Unicode", sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 0 0 0 18px;
}

/* line 1490, ../sass/style.scss */
.tweet a {
  color: #333;
  text-decoration: none;
}

/* line 1491, ../sass/style.scss */
.tweet a:hover {
  text-decoration: underline;
}

/* line 1493, ../sass/style.scss */
.col-md-6.col-sm-6.pos-r.no-padding {
  cursor: default;
}

/* line 1497, ../sass/style.scss */
#textModal .btn.btn-default.btn-cust.pull-right.btn-invert {
  float: left !important;
  border: 2px solid #332469;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 1505, ../sass/style.scss */
.modal-backdrop.in {
  opacity: 0.8 !important;
}

@media (max-width: 950px) {
  /* line 1510, ../sass/style.scss */
  .stories .story-caps .caps-cont {
    font-size: 14px;
  }

  /* line 1513, ../sass/style.scss */
  .story-qoute img {
    width: 20px !important;
  }

  /* line 1516, ../sass/style.scss */
  .col-md-3 .modal-image img {
    padding: 0;
    margin: 20px;
    width: 100%;
  }

  /* line 1521, ../sass/style.scss */
  .modal-dialog.modal-lg {
    padding: 0;
  }

  /* line 1525, ../sass/style.scss */
  .hover-bottom {
    bottom: 30px !important;
  }
}
@media (max-width: 980px) {
  /* line 1531, ../sass/style.scss */
  .col-md-3.modal-image img {
    width: 100%;
  }

  /* line 1535, ../sass/style.scss */
  #videoModal .modal-dialog.modal-lg {
    margin: 150px 0 0 0;
  }

  /* line 1539, ../sass/style.scss */
  .close img {
    transform: translateY(-100%);
  }
}
/* line 1545, ../sass/style.scss */
.navbar-header button:hover {
  background-color: #fff !important;
  padding: 28px 10px !important;
}

/* line 1550, ../sass/style.scss */
.android-icons {
  width: 15px;
}

@media (max-width: 600px) {
  /* line 1555, ../sass/style.scss */
  .col-md-8.col-sm-8.col-xs-6.story {
    width: 100% !important;
  }

  /* line 1558, ../sass/style.scss */
  .col-md-4.col-sm-4.col-xs-6.story {
    width: 100% !important;
  }
}
@media (min-width: 300px) and (max-width: 768px) {
  /* line 1573, ../sass/style.scss */
  .img-progm {
    margin: -15px 0px !important;
  }
}
@media only screen and (min-width: 768px) {
  /* line 1579, ../sass/style.scss */
  .jamifer-left {
    max-width: 450px;
    float: right;
    width: 100%;
  }

  /* line 1585, ../sass/style.scss */
  .img-progm {
    max-width: 450px;
    float: left;
    width: 100%;
  }
}
/* line 1595, ../sass/style.scss */
.business-program {
  max-height: 300px;
  margin-bottom: 15px;
  padding: 65px 0;
  background-color: #332469;
}

/* line 1601, ../sass/style.scss */
.business-program p {
  color: #fff;
}

/* line 1604, ../sass/style.scss */
.business-program h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

/* line 1611, ../sass/style.scss */
.with-jennifer {
  width: 160px;
  height: 2px;
  background: #6b80d2;
  margin: auto;
}

/* line 1619, ../sass/style.scss */
.your-mentro {
  padding: 50px;
}

/* line 1623, ../sass/style.scss */
.jennifer-hougatz {
  background-color: #332469;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

/* line 1629, ../sass/style.scss */
.jamifer-left {
  background: #332469;
  z-index: 1;
}

/* line 1636, ../sass/style.scss */
.color-fff {
  color: #fff !important;
}

/* line 1639, ../sass/style.scss */
.you-will {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* line 1643, ../sass/style.scss */
.bkground-3rd {
  background: url("../img/Group9.png");
}

/* line 1647, ../sass/style.scss */
.you-will p {
  margin: 0px;
  font-family: 'pt-sansbold';
}

/* line 1651, ../sass/style.scss */
.you-willget {
  background: #cccc;
  height: 50px;
  width: 2px;
  margin: auto;
}

/* line 1658, ../sass/style.scss */
.img-progm {
  margin: 30px 0;
}

/* line 1663, ../sass/style.scss */
.transform-business h2 {
  font-size: 36px;
  font-family: 'pt-sansbold';
  font-weight: 700;
}

/* line 1670, ../sass/style.scss */
.transform-business h3 {
  font-size: 40px;
  margin-top: 24px;
}

/* line 1675, ../sass/style.scss */
.transform-business {
  padding: 20px;
}

/* line 1678, ../sass/style.scss */
.transform-business p {
  font-size: 20px;
  text-align: left;
  margin-bottom: 60px;
  font-family: 'pt-sansregular';
}

/* line 1685, ../sass/style.scss */
.marg-left15 {
  margin-left: 16px;
}

/* line 1690, ../sass/style.scss */
.inline-block {
  display: inline-block;
}

/* line 1695, ../sass/style.scss */
.program-number {
  float: left;
  margin-top: 12px;
  width: 11%;
  padding-bottom: 10px;
  max-width: 52px;
  border-bottom: 3px solid #332469;
  font-size: 30px;
  font-weight: 900;
  color: #332469;
}

/* line 1707, ../sass/style.scss */
.program-description {
  width: 72%;
  padding-left: 10px;
  margin-left: 15px;
}

/* line 1713, ../sass/style.scss */
.program-intro p {
  margin: 0;
  text-align: left;
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  font-family: 'pt-sansregular';
}

/* line 1723, ../sass/style.scss */
.mar-top30 {
  margin-top: 30px;
}

/* line 1726, ../sass/style.scss */
.textlf {
  text-align: left;
}

/* line 1729, ../sass/style.scss */
.progms-heading {
  font-size: 20px;
  line-height: 1.3;
  margin-top: 15px;
  font-weight: 700;
  color: #332469;
  font-family: 'pt-sansbold';
}

/* line 1737, ../sass/style.scss */
.your-mentro h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* line 1744, ../sass/style.scss */
ul.progms li {
  text-align: left;
  margin-top: 25px;
  list-style-image: url("../img/Triangle1.png");
  margin-left: 20px;
}

/* line 1750, ../sass/style.scss */
.thee-agnenda {
  display: inline-block;
  width: 339px;
  min-height: 190px;
  margin: 5px;
}

/* line 1760, ../sass/style.scss */
.number-agneda {
  width: 100%;
  max-width: 58px;
  border-radius: 7px;
  display: inline-block;
  /* margin: 30px 15px; */
  padding: 19px 24px;
  font-size: 30px;
  font-weight: 700;
  margin: 30px 15px;
  /* text-align: center; */
  background-color: #332469;
  color: #fff;
}

/* line 1774, ../sass/style.scss */
.des-agenda {
  width: 70%;
  display: inline-block;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  color: #332469;
}

/* line 1783, ../sass/style.scss */
.numberag {
  padding: 15px !important;
  margin: 3px !important;
}

/* line 1788, ../sass/style.scss */
.program-intro:hover {
  background: #f5f2f2;
}

/* line 1791, ../sass/style.scss */
.program-intro {
  padding: 0px 30px 30px;
}

/* line 1794, ../sass/style.scss */
.agenda-below {
  padding: 0px 23px;
  text-align: left;
  font-size: 17px;
  line-height: 1.3;
  font-family: 'pt-sansregular';
}

/* line 1801, ../sass/style.scss */
.jamifer-left p {
  margin: 10px;
  text-align: left;
  padding-left: 15px;
  color: #fff;
}

/* line 1808, ../sass/style.scss */
.bottom-marg {
  padding-bottom: 120px;
}

/* line 1811, ../sass/style.scss */
.jenniferh3 {
  padding-top: 75px;
  text-align: left;
  padding-left: 20px;
}

/* line 1819, ../sass/style.scss */
.margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 1824, ../sass/style.scss */
.nav > li > a {
  padding: 0 !important;
}

@media (max-width: 990px) {
  /* line 1828, ../sass/style.scss */
  .agneda-head {
    text-align: left;
  }
}
/* line 1834, ../sass/style.scss */
.pos-r .primary-bg {
  cursor: pointer;
}

/* line 1839, ../sass/style.scss */
.icons-container.podcast-links img {
  transform: translate(-90%, 183%);
}

/* line 1843, ../sass/style.scss */
.your-mentro {
  background: #F4F1FF;
}

/* line 1847, ../sass/style.scss */
.navbar-nav {
  margin: 0;
}

/* line 1850, ../sass/style.scss */
.nav > li {
  margin-bottom: 10px;
}

@media (max-width: 920px) {
  /* line 1855, ../sass/style.scss */
  .col-md-12.story-action.story-video {
    margin: 0 20px;
  }
}
@media (max-width: 900px) {
  /* line 1861, ../sass/style.scss */
  .modal-dialog.modal-lg .close img {
    transform: translate(-136%, -164%) !important;
  }
}
@media (max-width: 720px) {
  /* line 1868, ../sass/style.scss */
  #videoModal .modal-dialog.modal-lg {
    margin: 100px 0 0 0;
  }
}
@media (max-width: 900px) {
  /* line 1874, ../sass/style.scss */
  #videoModal .modal-dialog.modal-lg {
    width: 100%;
  }
}
@media (max-width: 740px) {
  /* line 1881, ../sass/style.scss */
  .your-mentro {
    padding: 50px 50px 0 50px;
  }
}
@media (max-width: 800px) {
  /* line 1888, ../sass/style.scss */
  .volume-btn {
    display: none;
  }
}
@media (max-width: 315px) {
  /* line 1897, ../sass/style.scss */
  .primary-info .btn.btn-default.btn-cust.get-btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  /* line 1906, ../sass/style.scss */
  .program-page .col-md-6.col-sm-6.pos-r.no-padding {
    width: 100%;
  }
  /* line 1909, ../sass/style.scss */
  .program-page .jamifer-left.about-primary-info {
    max-width: 100%;
  }
  /* line 1913, ../sass/style.scss */
  .program-page .col-md-6.col-sm-6.full-image.profile.no-padding {
    width: 100%;
  }
  /* line 1916, ../sass/style.scss */
  .program-page .col-md-6.col-sm-6.full-image.profile.no-padding img {
    max-width: 100%;
  }
}
/* line 1923, ../sass/style.scss */
#textModal .modal-content {
  height: 350px;
  overflow: scroll;
}

@media (max-width: 980px) {
  /* line 1931, ../sass/style.scss */
  #textModal .modal-content {
    height: 700px;
    overflow: scroll;
  }
}
/* line 1938, ../sass/style.scss */
.row .col-md-9.story-action.story-content {
  margin-top: 20px;
}

@media (max-width: 992px) and (min-width: 767px) {
  /* line 1944, ../sass/style.scss */
  #first-intro img {
    right: -180px;
  }
}
/* line 1950, ../sass/style.scss */
.hover-text .btn.btn-default.hover-btn:focus {
  border: 2px solid #fff;
  background-color: #fff !important;
  color: #332469 !important;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'pt-sansbold';
}

@media (max-width: 1100px) {
  /* line 1962, ../sass/style.scss */
  .full-image.profile.no-padding img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  /* line 1968, ../sass/style.scss */
  #dialog img {
    float: right;
    transform: translate(0, 150%);
  }
}
/* line 1974, ../sass/style.scss */
.icons-container.podcast-share {
  position: absolute;
  top: 0px;
  left: 50px;
}

/* line 1980, ../sass/style.scss */
.caps-cont a {
  cursor: default;
}

/* line 1984, ../sass/style.scss */
.caps-cont a:focus {
  text-decoration: none;
}

/* line 1988, ../sass/style.scss */
.close:focus {
  outline: none;
}
